*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Press Start 2P";
}

body {
  background: url("../ui/img/pokemon-background.jpg");
}

.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr; 
  gap: 5vw;
  min-height: 59vh;
  margin: 0 1vw 0 1vw;
}

#pokemon-data{
  min-width: 35vw;
  min-height: 59vh;
}

#pokemon-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  min-height: 100%;
}

.grid-item{
  height: 0;
}

#pokemon-img{
  height: 40vh;
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 9px;
}

.pokemon-icon{
  width: 96px;
  height: 96px;
}

#nav-bar{
  display: flex;
  margin-top: 5px;
}


#selector-form{
  display: flex;
  flex-direction: column;
}
#pokemon-grid :hover, #pokemon-data :hover {
background-color: #c12026;
border-radius: 9px;
}

#logo{
  display: flex;
  margin: 0 auto;
  height: 100px;
  width: 200px;
}

.background-white {
  background-color: white;
}

.hidden {
  display: none;
}

.border-radius {
  border-radius: 10px;
}

a {
  margin: 0;
  color: black;
}

#select-btn{
  margin-top: 10px;
}

footer{
  margin-left: 1vw;
}

@media only screen and (min-width: 1050px) and (max-width: 1500px) {
  /* For small screens: */

  #pokemon-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-item{
    height: fit-content;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1050px) {
  /* For mobile phones and tablets: */

  .container {
    display: flex;
    flex-direction: column;
  }


  #pokemon-grid{
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 0px) and (max-width: 500px) {
    #pokemon-grid{
      grid-template-columns: 1fr;
    }

    #nav-bar{
      flex-direction: column;
    }
  }
  
  .grid-item{
    height: fit-content;
  }

}
